@model IEnumerable<CrudAudiovisuales.models.Rentadevolucion>

@{
    ViewData["Title"] = "Renta y devolucion";
}

<h1>Renta y devolucion</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.NoPrestamo" class="btn btn-danger">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NoPrestamo" class="btn btn-light">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoPrestamo" class="btn btn-warning">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    @using (Html.BeginForm("ExportToExcel", "Rentadevolucions", FormMethod.Post))
{
    <button type="submit">Export to Excel</button>
}

